.atribute_inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
.display_val{
    color: rgba(41, 41, 41, 1);
    margin: -10px 10px 0 0px;
    width: 63px;
    height: 45px;
    border: 1px solid #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}
 #selected{
     color: white;
     background-color: black;
 }
.display_val:hover{
   
    cursor: pointer;
}
.atr_box{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.atr_box> div{
    display: flex;
}
#active_btn{
    color: white;
    background-color:black;
}
#selectedCol{
    color: gray;
    transform: rotate(28deg);
    font-size: 100%; 
    display: flex;
    font-family: 'Raleway', sans-serif;
}
#atributeError{
    color: red;
    text-align: center;
}