.cart_dropdown_outer{
    margin: 60px 0 0 0;
    position:absolute;
    width: 358px;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}
.cart_dropdown_main{
    width: 93%;
    display: flex;
    flex-direction: column;
}
.cart_count_box{
    margin: 8px 0 23px 0;
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
}
.cart_count_dropdown{
    display: flex;
    align-items: center;

}
.cart_count_dropdown > h1{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 700;
}
.cart_count_dropdown > h1 > span{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 500;
}

.total_sum_box{
    height: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 35px 0;
}
.total_sum{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.total_sum > h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.button_box_outer{
    height: 43px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.button_cart{
    width: 150px;
    height: 100%;
}
.button_cart > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid black;
}
.button_checkout{
    width: 150px;
}
.button_checkout > div{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: black;
    font-size: 14px;
}
.button_cart > div:hover {
    color: white;
    background-color: rgba(94, 206, 123, 1);
    border:none;
    cursor: pointer;
}
.button_checkout > div:hover {
    color: white;
    background-color: rgba(94, 206, 123, 1);
    border:none;
    cursor: pointer;
}





@media only screen and (max-width: 1400px){
 
    }
@media only screen and (max-width: 1100px){
       
    }
@media only screen and (max-width: 480px){
        
    }