.outer_main{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}
.inner_main{
    width: 100%;
    height: 100vh;
   
    display: flex;
    flex-direction: column;
}
.cat_name{
    width: 299px;
    height: 68px;

    margin: 80px 0 103px 126px ;
    display: flex;
    align-items: center;

}
.cat_name>h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 42px;
}
.prod_catal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.inner_catal{
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.prod_card{
    width: 386px;
    height: 444px;
    margin: 0 0px 40px 0px;
}
#hide{
    display:none;
    overflow: hidden;
}
#overlay{
    z-index: -10;
}
#title_main{
    height: 55px;
}




@media only screen and (max-width: 1400px) {
.inner_catal{
    justify-content: center;
    
}
.prod_card{
    margin:10px;
}
}
@media only screen and (max-width: 1100px) {
   
    .cat_name{
        justify-content: center;
        margin: 30px 0 0 0 ;
    }


   
}
@media only screen and (max-width: 480px) {
    .inner_main{
        margin: 50px 0 0 0px;
      }
    .cat_name{
        margin: 0px 0 0 0 ;
    }
    .cat_name > h1{
        font-size: 7vw;
    }
    .prod_card_inner > div{
        width: 90%;
        margin: 0 0 0 0px;
    }
    .prod_card_inner{
        width: 319px;
    }
    .outer_main{
        width: 100%;
    }
    .inner_div{
        width: 100%;
    }
}