.prod_card{
    display: flex;
    justify-content: center;
}
.image_box{
    height: 338px;
    margin: 14px 0 0 0;
}
.prod_card_inner{
    width: 320px;
    position: absolute;
    z-index: -3;
}
.image_box{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-size: 95% 92%;
}
.prod_card_inner > div{
    width: 100%;

}
.title{
    display: flex;
    align-items: flex-end;
}
.title > h3{
    font-family:'Raleway', sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    color: black;
}
.price > h3{
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    text-align: left;
    font-weight: 500;
    margin: -10px 0 0 0;
    color: black;
}
.add_cart{
    width: 52px;
    height: 52px;
    margin: -133px 0 0px 323px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    display: none;
  
}
.add_cart:active{
    transform: translateY(2px);
}
.add_cart >svg{
    
    cursor: pointer;
}
#hide{
    display: none;
}
.prod_card:hover{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    cursor: pointer;
}
.inner_catal > div > a:hover ~ .add_cart{
   display: block;
}
.add_cart:hover{
    display: block;
}


/* ---------Add when out of stock----- #out_of_stock */

#out_of_stock{
    opacity: 0.5;
    cursor:pointer;
}

#oos{
    position: absolute;
    top: 40%;
    color: black;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

#out_of_stock > div >div>div{
    display: none;
}

#out_of_stock > .add_cart {
    display: none;

}
/* ---------Add when out of stock----- */
